/* COLORES PAGINA WEB */
.root {
    --verdeoscuro: #008037;
    --verdeclaro: #90bf23;
    --doradoclaro: #d2a846;
    --doradooscuro: #ae872f;
    --grisclaro: #D0C9C9;
}

/* NAVBAR CSS */
.navbar-nav {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

#navbarSupportedContent ul li a:hover {
    color: whitesmoke;
    font-size: 18px;
}

/* CARRUSEL CSS */
.carousel-caption {
    bottom: 220px;
    z-index: 2;
}

.carousel-caption h5 {
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
}

.carousel-caption p {
    width: 60%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
}

.carousel-inner::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0);
    z-index: 1;
}

/* FORMULARIO ALIVIAR */
#mensaje {
    resize: none;
}

/* FOOTER */
.pb-2:hover {
    color: black;
}

.text-justify {
    text-align: justify;
}

ul li a i:hover {
    color: black;
}

#datosContacto {
    color: white;
}

#datosContacto:hover {
    color: black;
    font-size: 18px;
}

#botonServicio:hover {
    color: var(--verdeoscuro);
    background-color: white;
}

.textoDeServicio {
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}


/* CSS RESPONSIVO */

@media (max-width:576px) {
    .navbar-nav {
        text-align: center;
    }

    .carousel-caption {
        bottom: 125px;
    }

    .carousel-caption h5 {
        font-size: 17px;
    }

    .carousel-caption a {
        padding: 10px 15px;
    }

    .carousel-caption p {
        width: 100%;
        line-height: 1.6;
    }

    .card-img {
        width: 50%;
        height: 50%;
    }

    .card-text {
        font-size: 0.9rem;
    }
}

#fotoNosotros {
    height: auto;
    max-width: 100%;
}


/* SERVICIOS */
.flip {
    position: relative;

    >.front,
    >.back {
        display: block;
        transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
        transition-duration: 0.5s;
        transition-property: transform, opacity;
    }

    >.front {
        transform: rotateY(0deg);
    }

    >.back {
        position: absolute;
        opacity: 0;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        transform: rotateY(-180deg);
    }

    &:hover {
        >.front {
            transform: rotateY(180deg);

        }

        >.back {
            opacity: 1;
            transform: rotateY(0deg);

        }
    }

    &.flip-vertical {
        >.back {
            transform: rotateX(-180deg);
        }

        &:hover {
            >.front {
                transform: rotateX(180deg);

            }

            >.back {
                transform: rotateX(0deg);
            }
        }
    }
}


.flip {
    position: relative;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 1em;
    width: 400px;

    >.front,
    >.back {
        display: block;
        color: white;
        width: inherit;
        background-size: cover !important;
        background-position: center !important;
        height: 220px;
        padding: 1em 2em;
        background: #313131;
        border-radius: 10px;
    }
}



/* Servicios.html */
.TituloConsultaExterna {
    text-align: center;
    border-bottom-style: solid;
    border-bottom-color: #008037;
}


.text-shadow {
    color: white;
    size: 20px;
}

.text-shadow:hover {
    color: black;
}