/* This pen */




.our_room .room {
  text-align: center;
  background-color: #fff;
  margin-bottom: 30px;
  transition: ease-in all 0.5s;
}



.our_room .room .room_img figure {
  margin: 0;
}

.card-img-top {
  width: 100%;
  transition: all .5s;
}

.card:hover {
  transform: scale(1.07  );
  -webkit-transform: scale(1.07  );
  -moz-transform: scale(1.07  );
  -ms-transform: scale(1.07  );
  -o-transform: scale(1.07  );
}



.card:hover.card {
  cursor:auto;
  box-shadow: 0px 0px 35px rgba(255, 9, 9, 0.15);
  transition: ease-in all 0.5s;
}

.textoServicio{
  font-size: 14px;
  text-align: justify;
}

.tituloServicio{
  font-size: 16px;
  font-weight: 500;
  text-align: center;


}

