/* COLORES PAGINA WEB */
.root {
    --verdeoscuro: #008037;
    --verdeclaro: #90bf23;
    --doradoclaro: #d2a846;
    --doradooscuro: #ae872f;
    --grisclaro: #D0C9C9;
}


h1,
h2,
.h1,
.h2,
.fw-bold {
    font-weight: 600 !important;
    font-family: 'Harabara', sans-serif;

}


h3,
h4,
.h3,
.h4,
.fw-medium {
    font-weight: 500 !important;
    font-family: 'Harabara', sans-serif;
}


h5,
h6,
.h5,
.h6,
p,
.p {
    font-weight: 300 !important;
    font-family: 'Jost', sans-serif;
    font-size: 18px;
}



/*** Titulo ***/
.section-title {
    color: var(--primary);
    font-weight: 600;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-family: 'Harabara', sans-serif;

}

/* NAVBAR CSS */
.navbar-nav {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Harabara', sans-serif;

}

#navbarSupportedContent ul li a:hover {
    color: whitesmoke;
    font-size: 18px;
}



*/ .navbar.sticky-top {
    top: -100px;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}


/***CARRUSEL ***/

.carousel-control-prev,
.carousel-control-next {
    width: 3rem;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 3rem;
    height: 3rem;
    background-color: var(--primary);
    border: 10px solid var(--primary);
}

.carousel-control-prev-icon {
    border-radius: 0 3rem 3rem 0;
}

.carousel-control-next-icon {
    border-radius: 3rem 0 0 3rem;
}

/* SOBRE NOSOTROS */
.about-img,
.feature-img {
    position: relative;
    height: 100%;
    min-height: 400px;
}

.about-img img,
.feature-img img {
    position: absolute;
    width: 60%;
    height: 80%;
    object-fit: cover;
}

.about-img img:last-child,
.feature-img img:last-child {
    margin: 20% 0 0 40%;
}

.about-img::before,
.feature-img::before {
    position: absolute;
    content: "";
    width: 60%;
    height: 80%;
    top: 10%;
    left: 20%;
    border: 5px solid var(--primary);
    z-index: -1;
}

/*** Servicios***/
.services .nav .nav-link {
    background: var(--light);
    transition: .5s;
}

.services .nav .nav-link.active {
    background: #008037;
}

.services .nav .nav-link.active h3 {
    color: #FFFFFF !important;
}


/* FORMULARIO ALIVIARI */
#mensaje {
    resize: none;
}

/* FOOTER */
.pb-2:hover {
    color: black;
}

.text-justify {
    text-align: justify;
}

ul li a i:hover {
    color: black;
}

#datosContacto {
    color: white;
}

#datosContacto:hover {
    color: black;
    font-size: 16px;
}

#botonServicio:hover {
    color: var(--verdeoscuro);
    background-color: white;
}

/* CSS RESPONSIVO */

@media (max-width:576px) {
    .card-text {
        font-size: 0.7rem;
    }

    #googleMaps {
        width: 350px;
        height: 450px;
    }

    #cardsCaracteristicas {

        max-height: 220px;
        max-width: 200px;
        margin: auto;

    }

    #gifCaracteristica {
        max-height: 150px;
        max-width: 150px;
        align-items: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    #imgSlide {
        height: 400px;
    }
}



/* FOOLTIP NAVBAR #fp-nav {
    position: fixed;
    z-index: 100;
    margin-top: -32px;
    top: 50%;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
}

#fp-nav.fp-right {
    right: 17px;
}

#fp-nav.fp-left {
    left: 17px;
}

.fp-slidesNav {
    position: absolute;
    z-index: 4;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    left: 0 !important;
    right: 0;
    margin: 0 auto !important;
}

.fp-slidesNav.fp-bottom {
    bottom: 17px;
}

.fp-slidesNav.fp-top {
    top: 17px;
}

#fp-nav ul,
.fp-slidesNav ul {
    margin: 0;
    padding: 0;
    background: rgba(255, 255, 255, 0.6);
    padding: 0.5em 0.1em;
    border-radius: 3px;
}

#fp-nav ul li,
.fp-slidesNav ul li {
    display: block;
    width: 14px;
    height: 13px;
    margin-bottom: 5px;
    position: relative;
}

.fp-slidesNav ul li {
    display: inline-block;
}

#fp-nav ul li a,
.fp-slidesNav ul li a {
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
}

#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span {
    height: 10px;
    width: 10px;
    margin: -6px 0 0 -6px;
    border-radius: 100%;
    background: #008037;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    height: 5px;
    width: 5px;
    border: 0;
    background: #008037;
    left: 50%;
    top: 50%;
    margin: -2px 0 0 -2px;
    transition: all 0.1s ease-in-out;
}

#fp-nav ul li:hover a span,
.fp-slidesNav ul li:hover a span {
    width: 10px;
    height: 10px;
    margin: -5px 0px 0px -5px;
    background: #008037;
}

#fp-nav ul li .fp-tooltip {
    position: absolute;
    top: -4px;
    color: #fff;
    font-size: 14px;
    font-family: arial, helvetica, sans-serif;
    white-space: nowrap;
    max-width: 220px;
    overflow: hidden;
    display: block;
    opacity: 0;
    width: 0;
    cursor: pointer;
}

#fp-nav ul li:hover .fp-tooltip,
#fp-nav.fp-show-active a.active+.fp-tooltip {
    transition: opacity 0.2s ease-in;
    width: auto;
    opacity: 1 !important;
}

#fp-nav ul li .fp-tooltip.fp-right {
    right: 20px;
    background: #008037;
    border-radius: 3px;
    padding: 3px 5px;
    font-size: 0.85em;
}

#fp-nav ul li .fp-tooltip.fp-left {
    left: 20px;
}

.fp-sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

#fp-nav ul li a.active+.fp-tooltip.fp-right {
    opacity: 1;
    width: auto;
}

*/

/* CONTADORES ESTADISTICAS */
:root {
    --main-color: #008037;
}

.counter {
    color: var(--main-color);
    background: linear-gradient(transparent, transparent 33%, var(--main-color) 33%, var(--main-color) 66%, transparent 66%);
    text-align: center;
    width: 310px;
    padding: 10px 20px 30px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

.counter:before,
.counter:after {
    content: "";
    background: #fff;
    border: 1px solid var(--main-color);
    border-radius: 10px;
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    z-index: -1;
}

.counter:after {
    border: none;
    box-shadow: -3px 3px 3px rgba(0, 0, 0, 0.2);
    top: 19px;
    left: 19px;
    right: 19px;
    bottom: 19px;
}

.counter .counter-icon {
    color: #fff;
    background: var(--main-color);
    font-size: 30px;
    line-height: 30px;
    width: 50%;
    padding: 15px;
    margin: 0 0 15px;
    display: inline-block;
}

.counter h3 {
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
    margin: 0 0 13px;
}

.counter .counter-value {
    color: #fff;
    background-color: var(--main-color);
    font-size: 28px;
    font-weight: 600;
    line-height: 28px;
    width: 80%;
    padding: 10px;
    display: inline-block;
}


/* VIDEO YOUTUBE DE NOSOTROS.HTML */
.contiene-video {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
}

.contiene-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

/* SUBTITULO FLOTANTE */
.sub-ttl-flotant {
    position: relative;
    padding-top: 1em;
    margin-bottom: 2em;

}

.sub-ttl-flotant:before {
    content: "";
    position: absolute;
    width: 90px;
    height: 5px;
    background-color: #008037;
    bottom: -16px;
}

/* CARRUSEL LOGOS EMPRESAS */
.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;

}

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}

.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}

.item {
    animation: animate 25s alternate linear infinite;
}

.container:hover .item {
    animation-play-state: paused;
}

@keyframes animate {
    0% {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(-1100px, 0, 0);
    }
}

@media (max-width:767px) {
    .slider-area h2 {
        font-size: 30px;
    }

    .wrapper {
        width: 95%;
        border-radius: 0;
        padding: 0;
    }
}


.wrapper {
    width: 100%;
    overflow-x: hidden;
}

.wrapper .container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
}

.category-filter {
    margin-top: 40px;
}

.title {
    margin-bottom: 40px;
}

.title h1 {
    color: #1b1919;
    text-align: center;
    font-weight: 800;
    font-size: 36px;
    letter-spacing: 1px;
}

.filter-btns {
    text-align: center;
}

.filter-btn {
    background: none;
    cursor: pointer;
    border: none;
    font-family: inherit;
    text-transform: uppercase;
    display: inline-block;
    margin: 10px 30px;
    font-size: 16px;
    color: #d3d3d3;
    font-weight: 600;
    letter-spacing: 2px;
    position: relative;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.filter-btn::after {
    content: "";
    position: absolute;
    top: 110%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    height: 2px;
    width: 0;
    background-color: #555;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out
}

.filter-btn:hover {
    color: #555;
}

.filter-btn:hover::after {
    width: 100%;
}

/* active button */
.active-btn {
    color: #555;
}

.active-btn::after {
    width: 100%;
}

/*  */

.filter-items {
    margin-top: 40px;
}

.item-img {
    position: relative;
    overflow: hidden;
}

.item-img::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(212, 203, 203, 0.1);
}

.item-img .horario {
    position: absolute;
    right: 0;
    top: 20px;
    background-color: #95bf47;
    z-index: 1;
    border-radius: 2px;
    color: #fff;
    font-size: 12px;
    padding: 4px 16px;
}

.item-img img {
    width: 100%;
    display: block;
    -webkit-transition: -webkit-transform 0.2s ease-in-out;
    transition: -webkit-transform 0.2s ease-in-out;
    -o-transition: transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.filter-item:hover .item-img img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.item-info {
    padding: 14px 0;
}

.item-info p {
    font-weight: 600;
    font-size: 17px;
    margin-top: 8px;
}

.item-info .old-price {
    font-size: 14px;
    font-weight: 700;
    text-decoration: line-through;
}

.item-info .especialidad {
    display: inline-block;
    margin-left: 6px;
    font-weight: 800;
    font-size: 20px;
    color: #008037;
    font-family: 'Harabara', sans-serif;


}

.item-img .horario {
    position: absolute;
    right: 0;
    top: 0px;
    background-color: #95bf47;
    z-index: 1;
    border-radius: 2px;
    color: #fff;
    font-size: 18px;
    padding: 4px 10px;
}

.add-btn {
    display: inline-block;
    margin-top: 20px;
    background-color: #95bf47;
    text-decoration: none;
    color: #fff;
    padding: 8px 20px;
    border-radius: 2px;
    border: 2px solid #95bf47;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.add-btn:hover {
    border-color: #95bf47;
    background-color: #fff;
    color: #95bf47;
}


.filter-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
}

.filter-item {
    width: 100%;
    margin-bottom: 40px;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media screen and (min-width: 768px) {
    .filter-item {
        width: calc(50% - 30px);
    }
}

@media screen and (min-width: 992px) {
    .filter-item {
        width: calc(33.3333% - 30px);
    }
}

@media screen and (min-width: 1200px) {
    .filter-item {
        width: calc(25% - 30px);
    }
}


.timetable-workout {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: #ee0c19;
    font-weight: 700;
    font-family: 'Oswald', sans-serif;
}


.timetable,
.table>tbody>tr>th {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    font-family: 'Oswald', sans-serif;
}

.timetable,
.table>thead>tr>th {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    font-family: 'Oswald', sans-serif;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
}



.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    border-top: transparent;
    color: #26282c;
    border-bottom: 1px solid #eee;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #eee;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: hsl(224, 100%, 99%);
}

caption {
    padding-top: .75rem;
    padding-bottom: .75rem;
    color: #26282c;
    text-align: left;
    caption-side: bottom;
}

.mb30 {
    margin-bottom: 30px;
}