/* COLORES PAGINA WEB */
.root {
    --verdeoscuro: #008037;
    --verdeclaro: #90bf23;
    --doradoclaro: #d2a846;
    --doradooscuro: #ae872f;
    --grisclaro: #D0C9C9;
}

a,
h1,
h2,
.h1,
.h2,
.fw-bold {
    font-weight: 600 !important;
}


h3,
h4,
.h3,
.h4,
.fw-medium {
    font-weight: 500 !important;
}


h5,
h6,
.h5,
.h6,
.fw-normal {
    font-weight: 400 !important;
}

/*** Titulo ***/
.section-title {
    color: var(--primary);
    font-weight: 600;
    letter-spacing: 5px;
    text-transform: uppercase;
}

/* NAVBAR CSS */
.navbar-nav {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

#navbarSupportedContent ul li a:hover {
    color: whitesmoke;
    font-size: 18px;
}

.navbar.sticky-top {
    top: -100px;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}


/***CARRUSEL ***/
.owl-carousel-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, .5);
}

@media (max-width: 576px) {
    .header-carousel .owl-carousel-item {
        position: relative;
        min-height: 500px;

    }

    .header-carousel .owl-carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .header-carousel .owl-carousel-item p {
        font-size: 12px !important;
    }

    .botonCarrusel {
        height: 70px;
        width: 250px;
        font-size: small;
    }

    .header-carousel .owl-dots .owl-dot img {
        width: 100%;
        height: 70%;
        padding-left: 100px;

    }
}

.header-carousel .owl-dots {
    position: absolute;
    width: 60px;
    height: 100%;
    top: 0;
    right: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-carousel .owl-dots .owl-dot {
    position: relative;
    width: 45px;
    height: 45px;
    margin: 5px 0;
    background: var(--dark);
    transition: .5s;
}

.header-carousel .owl-dots .owl-dot.active {
    width: 60px;
    height: 60px;
}

.header-carousel .owl-dots .owl-dot img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 2px;
    transition: .5s;
    opacity: .3;
}

.header-carousel .owl-dots .owl-dot.active img {
    opacity: 1;
}

.page-header {
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(../img/carousel-1.jpg) center center no-repeat;
    background-size: cover;
}

.breadcrumb-item+.breadcrumb-item::before {
    color: var(--light);
}


/* SOBRE NOSOTROS */
.about-img,
.feature-img {
    position: relative;
    height: 100%;
    min-height: 400px;
}

.about-img img,
.feature-img img {
    position: absolute;
    width: 60%;
    height: 80%;
    object-fit: cover;
}

.about-img img:last-child,
.feature-img img:last-child {
    margin: 20% 0 0 40%;
}

.about-img::before,
.feature-img::before {
    position: absolute;
    content: "";
    width: 60%;
    height: 80%;
    top: 10%;
    left: 20%;
    border: 5px solid var(--primary);
    z-index: -1;
}

/*** Servicios***/
.services .nav .nav-link {
    background: var(--light);
    transition: .5s;
}

.services .nav .nav-link.active {
    background: #008037;
}

.services .nav .nav-link.active h3 {
    color: #FFFFFF !important;
}


/* FORMULARIO ALIVIARI */
#mensaje {
    resize: none;
}

/* FOOTER */
.pb-2:hover {
    color: black;
}

.text-justify {
    text-align: justify;
}

ul li a i:hover {
    color: black;
}

#datosContacto {
    color: white;
}

#datosContacto:hover {
    color: black;
    font-size: 16px;
}

#botonServicio:hover {
    color: var(--verdeoscuro);
    background-color: white;
}




/* CSS RESPONSIVO */

@media (max-width:576px) {
    .card-text {
        font-size: 1rem;
    }
}