/* COLORES PAGINA WEB */
.root {
    --verdeoscuro: #008037;
    --verdeclaro: #90bf23;
    --doradoclaro: #d2a846;
    --doradooscuro: #ae872f;
    --grisclaro: #D0C9C9;
}


h1,
h2,
.h1,
.h2,
.fw-bold {
    font-weight: 600 !important;
    font-family: 'Harabara', sans-serif;

}


h3,
h4,
.h3,
.h4,
.fw-medium {
    font-weight: 500 !important;
    font-family: 'Harabara', sans-serif;

}


h5,
h6,
.h5,
.h6,
.fw-normal {
    font-weight: 400 !important;


}

/*** Titulo ***/
.section-title {
    color: var(--primary);
    font-weight: 600;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-family: 'Harabara', sans-serif;

}

/* NAVBAR CSS */
.navbar-nav {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

#navbarSupportedContent ul li a:hover {
    color: whitesmoke;
    font-size: 18px;
}

.navbar.sticky-top {
    top: -100px;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}


/***CARRUSEL ***/

.carousel-control-prev,
.carousel-control-next {
    width: 3rem;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 3rem;
    height: 3rem;
    background-color: var(--primary);
    border: 10px solid var(--primary);
}

.carousel-control-prev-icon {
    border-radius: 0 3rem 3rem 0;
}

.carousel-control-next-icon {
    border-radius: 3rem 0 0 3rem;
}

/* SOBRE NOSOTROS */
.about-img,
.feature-img {
    position: relative;
    height: 100%;
    min-height: 400px;
}

.about-img img,
.feature-img img {
    position: absolute;
    width: 60%;
    height: 80%;
    object-fit: cover;
}

.about-img img:last-child,
.feature-img img:last-child {
    margin: 20% 0 0 40%;
}

.about-img::before,
.feature-img::before {
    position: absolute;
    content: "";
    width: 60%;
    height: 80%;
    top: 10%;
    left: 20%;
    border: 5px solid var(--primary);
    z-index: -1;
}

/*** Servicios***/
.services .nav .nav-link {
    background: var(--light);
    transition: .5s;
}

.services .nav .nav-link.active {
    background: #008037;
}

.services .nav .nav-link.active h3 {
    color: #FFFFFF !important;
}


/* FORMULARIO ALIVIARI */
#mensaje {
    resize: none;
}

/* FOOTER */
.pb-2:hover {
    color: black;
}

.text-justify {
    text-align: justify;
}

ul li a i:hover {
    color: black;
}

#datosContacto {
    color: white;
}

#datosContacto:hover {
    color: black;
    font-size: 16px;
}

#botonServicio:hover {
    color: var(--verdeoscuro);
    background-color: white;
}

/* CSS RESPONSIVO */

@media (max-width:576px) {
    .card-text {
        font-size: 0.7rem;
    }

    #googleMaps {
        width: 350px;
        height: 450px;
    }

    #cardsCaracteristicas {

        max-height: 220px;
        max-width: 200px;
        margin: auto;

    }

    #gifCaracteristica {
        max-height: 150px;
        max-width: 150px;
        align-items: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}



/* FOOLTIP NAVBAR  */
#fp-nav {
    position: fixed;
    z-index: 100;
    margin-top: -32px;
    top: 50%;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
}

#fp-nav.fp-right {
    right: 17px;
}

#fp-nav.fp-left {
    left: 17px;
}

.fp-slidesNav {
    position: absolute;
    z-index: 4;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    left: 0 !important;
    right: 0;
    margin: 0 auto !important;
}

.fp-slidesNav.fp-bottom {
    bottom: 17px;
}

.fp-slidesNav.fp-top {
    top: 17px;
}

#fp-nav ul,
.fp-slidesNav ul {
    margin: 0;
    padding: 0;
    background: rgba(255, 255, 255, 0.6);
    padding: 0.5em 0.1em;
    border-radius: 3px;
}

#fp-nav ul li,
.fp-slidesNav ul li {
    display: block;
    width: 14px;
    height: 13px;
    margin-bottom: 5px;
    position: relative;
}

.fp-slidesNav ul li {
    display: inline-block;
}

#fp-nav ul li a,
.fp-slidesNav ul li a {
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
}

#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span {
    height: 10px;
    width: 10px;
    margin: -6px 0 0 -6px;
    border-radius: 100%;
    background: #008037;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    height: 5px;
    width: 5px;
    border: 0;
    background: #008037;
    left: 50%;
    top: 50%;
    margin: -2px 0 0 -2px;
    transition: all 0.1s ease-in-out;
}

#fp-nav ul li:hover a span,
.fp-slidesNav ul li:hover a span {
    width: 10px;
    height: 10px;
    margin: -5px 0px 0px -5px;
    background: #008037;
}

#fp-nav ul li .fp-tooltip {
    position: absolute;
    top: -4px;
    color: #fff;
    font-size: 14px;
    font-family: arial, helvetica, sans-serif;
    white-space: nowrap;
    max-width: 220px;
    overflow: hidden;
    display: block;
    opacity: 0;
    width: 0;
    cursor: pointer;
}

#fp-nav ul li:hover .fp-tooltip,
#fp-nav.fp-show-active a.active+.fp-tooltip {
    transition: opacity 0.2s ease-in;
    width: auto;
    opacity: 1 !important;
}

#fp-nav ul li .fp-tooltip.fp-right {
    right: 20px;
    background: #008037;
    border-radius: 3px;
    padding: 3px 5px;
    font-size: 0.85em;
}

#fp-nav ul li .fp-tooltip.fp-left {
    left: 20px;
}

.fp-sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

#fp-nav ul li a.active+.fp-tooltip.fp-right {
    opacity: 1;
    width: auto;
}


:root {
    --main-color: #008037;
}

.counter {
    color: var(--main-color);
    background: linear-gradient(transparent, transparent 33%, var(--main-color) 33%, var(--main-color) 66%, transparent 66%);
    text-align: center;
    width: 310px;
    padding: 10px 20px 30px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

.counter:before,
.counter:after {
    content: "";
    background: #fff;
    border: 1px solid var(--main-color);
    border-radius: 10px;
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    z-index: -1;
}

.counter:after {
    border: none;
    box-shadow: -3px 3px 3px rgba(0, 0, 0, 0.2);
    top: 19px;
    left: 19px;
    right: 19px;
    bottom: 19px;
}

.counter .counter-icon {
    color: #fff;
    background: var(--main-color);
    font-size: 30px;
    line-height: 30px;
    width: 50%;
    padding: 15px;
    margin: 0 0 15px;
    display: inline-block;
}

.counter h3 {
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
    margin: 0 0 13px;
}

.counter .counter-value {
    color: #fff;
    background-color: var(--main-color);
    font-size: 28px;
    font-weight: 600;
    line-height: 28px;
    width: 80%;
    padding: 10px;
    display: inline-block;
}


/* VIDEO YOUTUBE DE NOSOTROS.HTML */
.contiene-video {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
}

.contiene-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

body {
    background-color: #eee
}

.carousel-inner img {
    width: 100%
}

.carousel-item img {
    width: 320px;
    height: 240px !important
}

#myCarousel .carousel-indicators {
    position: static;
    margin-top: 0px
}

#myCarousel .carousel-indicators>li {
    width: 100px
}

#myCarousel .carousel-indicators li img {
    display: block;
    opacity: 0.5
}

#myCarousel .carousel-indicators li.active img {
    opacity: 1
}

#myCarousel .carousel-indicators li:hover img {
    opacity: 0.75
}